[Unit]
Description=acccounting
After=mysql.d
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=3
User=webadmin
ExecStart=/usr/bin/env php /var/www/blarchive/admin/deprecate.php

[Install]
WantedBy=multi-user.target

